<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  JavaBean类型自动映射扫描包配置 Java类型别名  -->
    <typeAliases>
        <package name="com.carrysu.eatfood.entity"/>
        <!--<typeAlias alias="User" type="com.brok1n.web.java.springmvcdemo1.bean.User" />-->
    </typeAliases>

    <environments default="development">
        <!-- 数据库环境 -->
        <environment id="development">
            <!-- 使用JDBC使用管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源配置 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.110.238.90:3306/food?characterEncoding=utf8"/>
                <property name="username" value="food"/>
                <property name="password" value="pGEE5PZAjwzBHAj5"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 映射器 -->
    <mappers>
        <mapper resource="com/carrysu/eatfood/mapper/EatfoodMapper.xml"/>
    </mappers>
</configuration>